---
http_interactions:
- request:
    method: get
    uri: https://api.sam.gov/opportunities/v2/search?api_key=<SAM_API_KEY>&limit=5&ncode=541512&postedFrom=04/01/2026&postedTo=04/30/2026&ptype=p,o
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Activityid:
      - 30b9affa-4a38-4214-91e8-0737a02851b8
    body:
      encoding: ASCII-8BIT
      string: '{"totalRecords":3,"limit":5,"offset":0,"opportunitiesData":[{"noticeId":"c15ed96359b64d42a068304a9c1c2906","title":"SERV,IRI,1U
        THEMIS","solicitationNumber":"SPRMM1-26-Q-GB78","fullParentPathName":"DEPT
        OF DEFENSE.DEFENSE LOGISTICS AGENCY.DLA MARITIME.DLA MARITIME MECHANICSBURG.SPRMM1
        DLA MECHANICSBURG","fullParentPathCode":"097.97AS.DLA MARITIME.DLA MARITIME
        MECH.SPRMM1","postedDate":"2026-04-21","type":"Solicitation","baseType":"Solicitation","archiveType":"auto15","archiveDate":"2026-05-30","typeOfSetAsideDescription":null,"typeOfSetAside":null,"responseDeadLine":"2026-05-15T16:30:00-04:00","naicsCode":"541512","naicsCodes":["541512"],"classificationCode":"7B22","active":"Yes","award":null,"pointOfContact":[{"fax":"","type":"primary","email":"KATHERINE.DAVIES@DLA.MIL","phone":"","title":null,"fullName":"Telephone:
        6146930001"}],"description":"https://api.sam.gov/prod/opportunities/v1/noticedesc?noticeid=c15ed96359b64d42a068304a9c1c2906","organizationType":"OFFICE","officeAddress":{"zipcode":"17055-0788","city":"MECHANICSBURG","countryCode":"USA","state":"PA"},"placeOfPerformance":{"city":{"code":"3000","name":"Arlington"},"state":{"code":"VA","name":"Virginia"},"country":{"code":"USA","name":"UNITED
        STATES"}},"additionalInfoLink":null,"uiLink":"https://sam.gov/workspace/contract/opp/c15ed96359b64d42a068304a9c1c2906/view","links":[{"rel":"self","href":"https://api.sam.gov/prod/opportunities/v2/search?noticeid=c15ed96359b64d42a068304a9c1c2906&limit=1"}],"resourceLinks":["https://sam.gov/api/prod/opps/v3/opportunities/resources/files/54f8dbe062724861936b46b41ab30a3f/download","https://sam.gov/api/prod/opps/v3/opportunities/resources/files/6b5d7f981650413c8afe8ac7d0263aa3/download"]},{"noticeId":"d7c83d59852b4e148d8d0245717ee19d","title":"DH10--DIGITAL
        WAYFINDING","solicitationNumber":"36C26226Q0506","fullParentPathName":"VETERANS
        AFFAIRS, DEPARTMENT OF.VETERANS AFFAIRS, DEPARTMENT OF.262-NETWORK CONTRACT
        OFFICE 22 (36C262)","fullParentPathCode":"036.3600.36C262","postedDate":"2026-04-20","type":"Solicitation","baseType":"Solicitation","archiveType":"autocustom","archiveDate":"2026-05-24","typeOfSetAsideDescription":null,"typeOfSetAside":null,"responseDeadLine":"2026-04-24T13:00:00-06:00","naicsCode":"541512","naicsCodes":["541512"],"classificationCode":"DH10","active":"Yes","award":{"awardee":{}},"pointOfContact":[{"fax":null,"type":"primary","email":"felicia.simpson@va.gov","phone":null,"title":"Contract
        Specialist","fullName":"Felicia L Simpson"}],"description":"https://api.sam.gov/prod/opportunities/v1/noticedesc?noticeid=d7c83d59852b4e148d8d0245717ee19d","organizationType":"OFFICE","officeAddress":{"zipcode":"85297","city":"Gilbert","countryCode":"USA","state":"AZ"},"placeOfPerformance":{"city":{},"state":{},"country":{}},"additionalInfoLink":null,"uiLink":"https://sam.go[...]
