---
http_interactions:
- request:
    method: post
    uri: https://api.usaspending.gov/api/v2/search/spending_by_award/
    body:
      encoding: UTF-8
      string: '{"filters":{"naics_codes":["541512"],"time_period":[{"start_date":"2026-01-01","end_date":"2026-03-31"}],"award_type_codes":["A","B","C","D"]},"fields":["Award
        ID","Recipient Name","Recipient UEI","Award Amount","Total Outlays","Description","Contract
        Award Type","Awarding Agency","Awarding Sub Agency","Awarding Office","Funding
        Agency","Funding Sub Agency","Start Date","End Date","NAICS","PSC","Place
        of Performance State Code","Place of Performance Country Code","Place of Performance
        Zip5","recipient_id"],"page":1,"limit":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - POST, OPTIONS
      Cache-Trace:
      - set-cache
      Key:
      - 91b045a5cb2b7a5f0da25b7766d667a2
    body:
      encoding: UTF-8
      string: '{"spending_level":"awards","limit":5,"results":[{"internal_id":350571371,"Award
        ID":"W91ZLK22F0006","Recipient Name":"GALAPAGOS FEDERAL SYSTEMS LLC","Recipient
        UEI":"N3GDEB78RNF8","Award Amount":16954094.97,"Total Outlays":599373.44,"Description":"IT
        HELP DESK SUPPORT SERVICES","Contract Award Type":"DELIVERY ORDER","Awarding
        Agency":"Department of Defense","Awarding Sub Agency":"Department of the Army","Awarding
        Office":null,"Funding Agency":"Department of Defense","Funding Sub Agency":"Department
        of the Army","Start Date":"2021-12-15","End Date":"2026-12-14","NAICS":{"code":"541512","description":"COMPUTER
        SYSTEMS DESIGN SERVICES"},"PSC":{"code":"DE10","description":"IT and Telecom
        - End User as a Service: Help Desk;Tier 1-2,Workspace,Print,Output,Productivity
        Tools"},"Place of Performance State Code":"MD","Place of Performance Country
        Code":"USA","Place of Performance Zip5":"21010","recipient_id":"fff7b97c-2c49-3aea-0239-288216e117d3-C","awarding_agency_id":1173,"agency_slug":"department-of-defense","generated_internal_id":"CONT_AWD_W91ZLK22F0006_9700_47QTCB21D0243_4732"},{"internal_id":353431254,"Award
        ID":"W91RUS25FA189","Recipient Name":"EMPOWER AI, INC.","Recipient UEI":"HC6QJAM2F4E3","Award
        Amount":30424784.98,"Total Outlays":null,"Description":"U.S. ARMY INFORMATION
        SYSTEMS ENGINEERING COMMAND (ISEC) MISSION ENGINEERING DIRECTORATE (MED) ARMY
        METERING PROGRAM (AMP) SUPPORT.","Contract Award Type":"DELIVERY ORDER","Awarding
        Agency":"Department of Defense","Awarding Sub [...]
