/*.gem
*.gem
*.rbc
.bundle/
.config/
.ruby-version
.yardoc/
_yardoc/
coverage/
doc/
InstalledFiles
lib/bundler/man/
pkg/
rdoc/
spec/reports/
test/tmp/
test/version_tmp/
tmp/
vendor/bundle/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env
.env.local
node_modules/
